.lang-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: transform 0.2s ease;
  font-size: 1.2rem;
}

.lang-btn:active {
  transform: scale(1.2);
}

.fi {
  border-radius: 5px;
}