.projects-section {
  padding: 4rem 1.5rem;
  background-color: var(--bg);
  color: var(--t);
}

.section-title {
  text-align: left;
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--p);
  margin-bottom: 3rem;
}

.projects-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}