*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Sora', sans-serif !important;
}

body {
    background-color: var(--bg) !important;
    color: var(--t) !important;
}