:root {
  --bg: #1A120B;   /* خلفية رئيسية غامقة، يعطي جو ذكوري وقوي */
  --bgs: #3C2A21;  /* خلفية ثانوية أو بطاقات */
  --p: #D5CEA3;    /* primary color، للأزرار أو العناوين المهمة */
  --s: #E5E5CB;    /* secondary color، نصوص ثانوية أو أي عناصر تكميلية */
  --a: #D5CEA3;    /* accent، يقدر يكون نفس primary عشان الاتساق */
  --t: #E5E5CB;    /* text، لون النص الأساسي على خلفية غامقة */
  
  font-family: 'Sora', sans-serif;
}