:root {
  --bg: #1A120B;       /* خلفية رئيسية غامقة */
  --bgs: #3C2A21;      /* خلفية ثانوية */
  
  --p: #D5CEA3;         /* primary: فاتح وواقعي للعناوين المهمة */
  --s: #B7B08F;         /* secondary: أقل سطوع شوي لعناصر تكميلية */
  --a: #F5E27A;         /* accent: أصفر أكثر للفت الانتباه */
  --t: #E5E5CB;         /* text: لون النص العادي */
  
  font-family: 'Sora', sans-serif;
}